* {
    margin: 0;
    padding: 0;
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #6e6e6e;
}

header {
    margin: 0 0 2px 0;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);
    background-color: white;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav img{
    width: 48px;
    height: 48px
}

header nav button {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    background-color: white;
}

header nav button:hover {
    opacity: 50%;
}

header nav button:focus span {
    color: #ffcc00;
}

header nav button span {
    margin: 0 5px 0 5px;
    align-self: center;
    font-weight: bold;
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: end;
    align-content: center;
}

header nav ul li {
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 630px) {
    .hm-ls-btn {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main article {
    margin: 5px 15px 5px 15px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);
}

main article h1 {
    margin: 0 0 5px 0;
    font-size: 16px;
}

main article h2 {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #ffcc00;
}

main article button {
    background-color: white;
    margin: 5px 0 0 0;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 12px;
    font-weight:bold;
}

main article button:hover {
    opacity: 50%;
}

main article button:focus {
    border: 2px solid #ffcc00;
    color: #ffcc00;
}

footer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.75);
    background-color: white;
}

footer span {
    text-align: center;
    font-size: 14px;
}